.card{
    width: 22vw;
    height:200px;
    text-align: left;
    /* padding-inline-start: 20px !important; */
    padding-inline-end: 40px !important;
    background-color: #f4f6f8 !important;
    margin-top: 3vh;
    border-radius: 20px !important;
    border: 1px solid #d4dee9;  
}

.card-title{
    font-weight: bold !important;
}
.card-description{
    font-size:larger !important;
    font-weight: 500 !important;
}
