.submitrequest{
    background-color: rgb(43, 36, 36) !important;
    color: white !important;
    margin-block: 15px !important;
    border: 1px solid white !important;
}
.header{
    background-color: black !important;
    color: red !important;
    display: flex;
    align-items: center;
}
.appbar{
    background-color: black !important;    
}
.header-heading{
    margin-top: 1% !important;
    padding-left:1vw !important;
    text-align: left !important;
    font-size: x-large;
    font-weight: 600;
}
.header-text {
    padding-left:10vw !important;
}
.header-image{
    height: 40px;
    width: 50px;
    border-radius: 10px;
}